/*Global*/
body{
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}
/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.empty1{
    height: 100px;
}
ul{
    margin: 0px;
    padding: 0px;
}
.button_1{
    height: 35px;
    background: red;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}
.dark{
    padding: 15px;
    background: black;
    color:#07d7d7;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*header*/
header{
    background: white;
    color: red;
    padding-top: 30px;
    min-height: 50px;
    border-bottom: 5px solid pink;
}
header a{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
header li{
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;
}

header #branding{
float: left;
}
header nav{
    float: right;
    margin-top: 25px;
}
header .current a{
    color:blue;
    font-weight: bold;
}
header a:hover{
    color: black;
    font-weight: bold;
}
/* showcase */
#showcase{
    min-height: 400px;
    background-image:  url(images/ponmo.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#07d7d7;
    font-weight: bold;
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 20px;
}
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #07d7d7
}
#newsletter h1{
    float: left;
}#newsletter form{
    float: right;
    margin-top: 15px;
}
#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}
/*boxex*/
#boxex{
    margin-top: 20px;
}
#boxex .box{
    float: left;
    text-align: center;
    padding: 10px;
    width: 30%;
}
/*sidebar*/
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #07d7d7;
    text-align: center;
}
.h1{
    text-shadow: 2px 2px;
}